.dropdown-visible {
    display: block !important;
}


/* Animations */
@keyframes move-curve {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}

@keyframes wavy {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
    }
}

@keyframes wavy-slow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50px);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-pulse {
    animation: pulse 3s infinite;
}

.animate-bounce {
    animation: bounce 4s infinite;
}

.animate-move-curve {
    animation: move-curve 6s infinite ease-in-out;
}

.animate-wavy {
    animation: wavy 5s linear infinite;
}

.animate-wavy-slow {
    animation: wavy-slow 7s linear infinite;
}

.animate-spin {
    animation: spin 8s linear infinite;
}


@media (max-width: 971px) and (min-width: 767px) {
    #how-it-works .grid {
      grid-template-columns: 1fr; /* One card per row */
    }
  }

  


  /* Container for Services Section */
#services {
    background-color: #f7fafc;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Service Card Styling */
.service-card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-content {
    padding: 2rem;
}

.service-card h3 {
    font-size: 1.875rem;
    font-weight: 600;
}

.service-card p {
    font-size: 1rem;
    line-height: 1.5;
}

.service-card a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 9999px;
    transition: all 0.3s ease;
}

.service-card a:hover {
    background-color: #fff;
    color: #333;
}

/* Color Patterns and Transitions */
.bg-gradient-to-r {
    background: linear-gradient(to right, var(--from), var(--to));
}

/* Responsive Grid */
@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}




